/* Webfont: Prototype */@font-face {
    font-family: 'Prototype';
    src: url('Prototype.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

