/* Webfont: RAXON-RegularSlant */@font-face {
    font-family: 'RAXON-RegularSlant';
    /*src: url('RAXON-RegularSlant.eot'); !* IE9 Compat Modes *!*/
    src: /*url('RAXON-RegularSlant.eot?#iefix') format('embedded-opentype'),*/ /* IE6-IE8 */
         url('RAXON-RegularSlant.woff') format('woff'), /* Modern Browsers */
         url('RAXON-RegularSlant.woff2') format('woff2'), /* Modern Browsers */
         url('RAXON-RegularSlant.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

